    <!-- Download Section -->
    <section id="about" class="content-section text-center">
        <div class="about-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About</h2>
                    <p>Kayle is a seasoned Technologist focused on increasing customer relationships through leadership. A student at the University of Wisconsin, Kayle is studying Economics, Art History, Psychology, and Creative Direction. Kayle holds strong teamwork skills as an active member and direct contributor to the University of Wisconsin Finance and Investment Society. Kayle is fluent in creative pursuits through photography, film, and illustrative design work possessing experience with Adobe suite products including Lightroom, Photoshop, Illustrator, Premiere Pro, and Dreamweaver. Versed in social media marketing with an emphasis on graphic-media sharing platforms and website development. Advanced writing and communications skills with the ability to clearly deliver ideas and messages.</p>
                </div>
            </div>
        </div>
    </section>
